.top-hero-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-hero{
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    color: white;
    margin: 10px;
    cursor: pointer;
}