<div>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of herolist" (click)="showHeroDetail(hero)">
            <span>{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
</div>