<button (click)="showDashboard()">Dashboard</button>
<button (click)="showHeroList()">Hero List</button>
<br />
<div *ngIf="canViewTopHeros">
    <app-top-heroes [heros]="topHeros" (detailClick)="onHeroClick($event)"></app-top-heroes>
</div>
<div *ngIf="canViewHeroList">
    <app-hero-list [heros]="heroes" (detailClick)="onHeroClick($event)"></app-hero-list>
</div>
<div *ngIf="canViewHeroDetail">
    <app-hero-details [hero]="selectedHero" (updateHero)="onHeroUpdate($event)"></app-hero-details>
</div>
